@import "../../variables";

.projects-container {
  background-color: $main-background-color;
}

.card-img-top {
  width: 100%;
  height: 50vh;
  object-fit: contain;

  background-color: white;
}

.card {
  background-color: #4D4D4D;

  hr {
    margin: 0;
    width: 100%;
    border-width: 2px;
    border-color: black;
  }

  .card-body {
    hr {
      border-width: 1px;
      border-color: $accent-color;
    }
  }

  button {
    background-color: $main-background-color;
    a {
      color: #2E97FF;
    }

    &:hover {
      a {
        text-decoration: none;
        color: white;
      }
      background-color: $accent-color !important;
    }
  }
}