@import "../../../variables";

$border-color: white;
$border-stroke: 1px;
$outside-border-stroke: 2*$border-stroke;

.aes-container {
  background-color: $main-background-color;
  color: white;
}

.explanation {
  background: #737373;
  border-radius: 15px;
}

.interactive {
  background-color: #575757;
  border-radius: 15px;
}

.carousel-inner {
  display: flex;
  align-items: center;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.fit-carousel-img {
  height: 330px;
  width: auto;
}

.carousel-text {
  padding-top: 10px;
}

.vertical-center {
  // From https://stackoverflow.com/a/22196760/6708303
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  // min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.state-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "cell-00 cell-01 cell-02 cell-03"
                       "cell-10 cell-11 cell-12 cell-13"
                       "cell-20 cell-21 cell-22 cell-23"
                       "cell-30 cell-31 cell-32 cell-33";
                      
  div {
    border: $outside-border-stroke solid $border-color;
    text-align: center;
  }
  
  .htb {
    // Half top border
    border-top: $border-stroke solid $border-color;
  }

  .hbb {
    // Half bottom border
    border-bottom: $border-stroke solid $border-color;
  }

  .hlb {
    // Half left border
    border-left: $border-stroke solid $border-color;
  }

  .hrb {
    // Half right border
    border-right: $border-stroke solid $border-color;
  }
}

.no-padding {
  padding: 0;
}

.cell-00 { grid-area: cell-00; }
.cell-01 { grid-area: cell-01; }
.cell-02 { grid-area: cell-02; }
.cell-03 { grid-area: cell-03; }
.cell-10 { grid-area: cell-10; }
.cell-11 { grid-area: cell-11; }
.cell-12 { grid-area: cell-12; }
.cell-13 { grid-area: cell-13; }
.cell-20 { grid-area: cell-20; }
.cell-21 { grid-area: cell-21; }
.cell-22 { grid-area: cell-22; }
.cell-23 { grid-area: cell-23; }
.cell-30 { grid-area: cell-30; }
.cell-31 { grid-area: cell-31; }
.cell-32 { grid-area: cell-32; }
.cell-33 { grid-area: cell-33; }

