@import "../../../variables";

.gaussian-container {
  background-color: $main-background-color;
  color: white;
}

.interactive {
  background-color: green;
}

canvas {
  width: 100%;
  height: auto;
}