@import '../../../variables';

.gaussian-container {
  background-color: $main-background-color;
  color: white;
}

.explanation {
  background: #737373;
  border-radius: 25px;
}

.interactive {
  background-color: #575757;
  border-radius: 25px;
}

canvas {
  width: 100%;
  height: auto;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  opacity: 0.7;
  height: 7px;

  border-radius: 5px;
  outline: none !important;

  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #333;
  }

  &:active {
    cursor: pointer;
    height: 7px;
    border-radius: 5px;

    &::-webkit-slider-thumb {
      background: red;
    }
  }
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}

.fit-carousel-img {
  height: 330px;
  width: auto;
}

.carousel-text {
  padding-top: 10px;
}

.vertical-center {
  // From https://stackoverflow.com/a/22196760/6708303
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  // min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .explanation {
    height: 100vh !important;
  }
}
