@import '../../../variables';
@import '../../../../node_modules/vueperslides/dist/vueperslides.css';

.explanation {
  background: #737373;
  border-radius: 25px;
}

.interactive {
  background-color: #575757;
  border-radius: 25px;
}

canvas {
  width: 100%;
  height: auto;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  opacity: 0.7;
  height: 7px;

  border-radius: 5px;
  outline: none !important;

  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #333;
  }

  &:active {
    cursor: pointer;
    height: 7px;
    border-radius: 5px;

    &::-webkit-slider-thumb {
      background: $secondary-accent-color;
    }
  }
}

@media (max-width: 767px) {
  .explanation {
    height: 75vh !important;
  }
}