@import "../../variables";

.resume-container {
  background-color: orange;
  color: white;
}

.row {
  height: 100%;
}

.col-lg-12 {
  padding: 0px;
}

#resume-iframe {
  max-height: 100%;
}

* {
  overflow: hidden;
}