@import "../../variables";

.about-container {
    background-color: $main-background-color;
    color: white;
    overflow-y: auto;
}

.about-container {
    background-color: $main-background-color;
    color: white;
    overflow-y: auto;
}

.text-container {
  width: 85%;
}

.about-text {
  font-size: 1.35vmax;
}

hr {
  border-color: $accent-color;
  width: 75%;
}
