@import "../../variables";

$logo-animation-duration: 4s;

.home-container {
    background-color: $main-background-color;
}

.logo-container {
  position: relative;

  -webkit-animation-duration: $logo-animation-duration;
  animation-duration: $logo-animation-duration;
  -webkit-animation-name: logo-container-translate;
  animation-name: logo-container-translate;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.logo-cover {
  background-color: $main-background-color;
  position: relative;

  width: 20rem;
  z-index: 2;
}

.alex {
  color: #0080FF;
  font-size: 6rem;

  z-index: 1;
  position: absolute;

  top: 0;
  left: -1%;

  -webkit-animation-duration: $logo-animation-duration;
  animation-duration: $logo-animation-duration;
  -webkit-animation-name: logo-translate;
  animation-name: logo-translate;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes logo-translate {
  0% { }
  100% {
    transform: translate(-102%, 0%);
  }
}

@keyframes logo-translate {
  0% { }
  100% {
    transform: translate(-102%, 0%);
  }
}

@-webkit-keyframes logo-container-translate {
  0% { }
  100% {
    transform: translate(26%, 0%);
  }
}

@keyframes logo-container-translate {
  0% { }
  100% {
    transform: translate(26%, 0%);
  }
}

.hutman {
  color: white;
  font-size: 6rem;

  z-index: 3;
  position: absolute;

  top: 0;
  left: -2%;
}