@import "../../variables";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$logo-fade-in-duration: 5s;
$logo-animation-duration: 3s;
$quote-fade-in-duration: 2s;

.home-container {
    background-color: $main-background-color;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
  opacity: 0;

  animation: logo-fade-in $logo-fade-in-duration ease forwards;
  -webkit-animation: logo-fade-in $logo-fade-in-duration ease forwards;
}

.logo {
  font-size: 6rem;
}

.alex {
  font-family: 'Raleway', ;

  color: $accent-color;

  z-index: 1;

  animation: logo-translate $logo-animation-duration ease forwards;
  -webkit-animation: logo-translate $logo-animation-duration ease forwards;
}

.hutman {
  font-family: 'Raleway', ;

  background-color: $main-background-color;
  color: white;
  // text-shadow: -3px 2px 2px rgba(0,0,0,0.87);

  z-index: 3;
}

#quote {
  opacity: 0;
}

.quote-anim {
  animation: quote-fade-in $quote-fade-in-duration ease forwards;
  -webkit-animation: quote-fade-in $quote-fade-in-duration ease forwards;
}

@-webkit-keyframes logo-fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes logo-fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes logo-translate {
  from {
    transform: translate(102%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

@keyframes logo-translate {
  from {
    transform: translate(102%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

@-webkit-keyframes quote-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes quote-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .logo {
    font-size: 4rem;
  }

  .logo-cover {
    width: 10rem;
  }
}