@import "../../variables";

.contact-container {
    background-color: $main-background-color;
    color: white;
    overflow-y: auto;
    width: 75%;
}

.text-container {
  width: 100%;
}

.contact-text {
  width: 100%;

  a {
    text-decoration: none !important;
    color: white;
  }
}

.contact-link {
  &:hover {
    background-color: $secondary-background-color;
    // * {
    //   color: $accent-color !important;
    // }
  }
}

hr {
  border-color: $accent-color;
  width: 75%;
}
