@import "../../variables";

.contact-container {
    background-color: $main-background-color;
    color: white;
    overflow-y: auto;
}

.text-container {
  width: 100%;
}

.contact-text {
  width: 75%;
}

hr {
  border-color: $accent-color;
  width: 75%;
}
