@import "variables";

html,
body {
  height: 100%;
}

#app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.fill-page {
  flex-grow: 1;
}

.page-container {
  height: 100%;
  max-width: 100%;
}