.nav {
  width: 100%;

  margin: 0;

  padding: 1em 0;

  background-color: #1F1E1E;
}

ul {
  text-align: right;
  list-style-type: none;


}

.nav-links {
  a {
    display: inline;
  }
}

.nav-item {
  color: white;
  padding-right: 3em;
}